<h3>Formulario para pruebas con protactor</h3>
<hr>
<form [formGroup]="form">
    <div class="row">
        <div class="col-md-4">
            <label style="margin: 23px 0 10px 0;">Nombre</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Ingrese su nombre">
        </div>
        <div class="col-md-4">
            <label style="margin: 23px 0 10px 0;">Apellido</label>
            <input type="text" class="form-control" formControlName="surname" placeholder="Ingrese su apellido">
        </div>
        <div class="col-md-4">
            <label style="margin: 23px 0 10px 0;">Segundo apellido</label>
            <input type="text" class="form-control" formControlName="secondSurname" placeholder="Ingrese su apellido 2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label style="margin: 23px 0 10px 0;">Dirección</label>
            <input type="text" class="form-control" formControlName="address" placeholder="Ingrese su dirección">
        </div>
        <div class="col-md-4">
            <label style="margin: 23px 0 10px 0;">Celular</label>
            <input type="text" class="form-control" formControlName="phone" placeholder="Ingrese su celular">
        </div>
        <div class="col-md-4">
            <label style="margin: 23px 0 10px 0;">Correo</label>
            <input type="text" class="form-control" formControlName="email" placeholder="Ingrese su correo">
        </div>
    </div>
</form>
<hr>
<button type="button" class="btn btn-success" (click)="save()">Enviar<i class="fa fa-paper-plane"
        aria-hidden="true"></i></button>

<div class="modal" tabindex="-1" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal</h5>
            </div>
            <div class="modal-body">
                <h3>{{message}}</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>