<h3>Formulario para pruebas con protactor</h3>
<hr>
<form [formGroup]="form">
    <div class="row">
        <div class="col-md-4">
            <label style="margin: 23px 0 10px 0;">Nombre</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Ingrese su nombre">
        </div>
        <div class="col-md-4">
            <label style="margin: 23px 0 10px 0;">Apellido</label>
            <input type="text" class="form-control" formControlName="surname" placeholder="Ingrese su apellido">
        </div>
        <div class="col-md-4">
            <label style="margin: 23px 0 10px 0;">Segundo apellido</label>
            <input type="text" class="form-control" formControlName="secondSurname" placeholder="Ingrese su apellido 2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
    </div>
</form>

<hr>
<button type="button" class="btn btn-success mb-3" (click)="save()">Enviar<i class="fa fa-paper-plane"
        aria-hidden="true"></i></button>